<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout/plantilla :: header"></div>
        <section th:replace="layout/plantilla :: main-index"></section>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Sistema de gestion de usuarios
                        </h5>
                        <p class="card-text">descripcion</p>
                        <a href="" class="btn btn-pripary">Ingresar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Sistema de gestion de empresas
                        </h5>
                        <p class="card-text">descripcion</p>
                        <a href="" class="btn btn-pripary">Ingresar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Sistema de gestion de movimientos
                        </h5>
                        <p class="card-text">descripcion</p>
                        <a href="" class="btn btn-pripary">ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <footer th:replace="layout/plantilla :: footer"></footer>
    </div>
</div>
</body>
</html>